
  <div class="h-[85dvh] w-[82.5dvw] flex flex-col justify-between items-center bg-slate-200 rounded-2xl">
    <!--Top bar-->
    <div class="w-full h-[8dvh] flex">
      <div class="w-3/6 rounded-xl bg-white m-3 flex justify-center items-center"><h3 class="font-[poppins] text-[1.3rem] my-3 text-slateblue">La Bolera Neiva</h3></div>
      <div class="w-2/6 rounded-xl bg-white my-3 flex justify-center items-center"><h3 class="font-[poppins] text-[1.3rem] my-3 text-slateblue">Pista #2</h3></div>
      <div class="w-1/6 rounded-xl bg-white m-3 flex justify-center items-center">
        @if (timeLeft > 0) {
          <h3 class="font-[poppins] text-[1.3rem] my-3 text-slateblue"> {{formattedTime}} </h3>
        }
        @if (timeLeft === 0) {
          <h3 class="font-[poppins] text-[1.3rem] my-3 text-slateblue"> ¡Tiempo finalizado! </h3>
        }
      </div>
    </div>
    <!-- Scorer-->
    <div class="w-full h-[92dvh] bg-slate-500 p-3">
      <table class="w-full table-fixed">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2" >Nicolás</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>