
  <div class="h-[85dvh] w-[82.5dvw] flex flex-col justify-between items-center bg-slate-200 rounded-2xl">
    <!--Top bar-->
    <div class="w-full h-[8dvh] flex">
      <div class="w-3/6 rounded-xl bg-white m-3 flex justify-center items-center"><h3 class="font-[poppins] text-[1.3rem] my-3 text-slateblue">La Bolera Neiva</h3></div>
      <div class="w-2/6 rounded-xl bg-white my-3 flex justify-center items-center"><h3 class="font-[poppins] text-[1.3rem] my-3 text-slateblue">Pista #2</h3></div>
      <div class="w-1/6 rounded-xl bg-white m-3 flex justify-center items-center">
        @if (timeLeft > 0) {
          <h3 class="font-[poppins] text-[1.3rem] my-3 text-slateblue"> {{formattedTime}} </h3>
        }
        @if (timeLeft === 0) {
          <h3 class="font-[poppins] text-[1.3rem] my-3 text-slateblue"> ¡Tiempo finalizado! </h3>
        }
      </div>
    </div>
    <!-- Scorer-->
    <div class="w-full p-3 flex-col flex flex-1 justify-start gap-2">

      <table class="w-full h-32 table-fixed bg-white rounded-2xl font-[poppins]">
        <thead>
          <tr class="border-b-2 border-slateblue h-[34px]">
            <th class="w-2/12 border-r-2 border-slateblue">Nombre</th>
            <th class="w-1/12 border-r-2 border-slateblue">1</th>
            <th class="w-1/12 border-r-2 border-slateblue">2</th>
            <th class="w-1/12 border-r-2 border-slateblue">3</th>
            <th class="w-1/12 border-r-2 border-slateblue">4</th>
            <th class="w-1/12 border-r-2 border-slateblue">5</th>
            <th class="w-1/12 border-r-2 border-slateblue">6</th>
            <th class="w-1/12 border-r-2 border-slateblue">7</th>
            <th class="w-1/12 border-r-2 border-slateblue">8</th>
            <th class="w-1/12 border-r-2 border-slateblue">9</th>
            <th class="w-2/12 border-r-2 border-slateblue">10</th>
            <th class="w-1/12">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr class="h-[47px]">
            <td class="border-r-2 border-slateblue text-center text-xl" rowspan="2">Nicolás B.</td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-b-2  border-slateblue"></td>
            <td  class="border-l-2 border-slateblue" rowspan="2"></td>
          </tr>

          <tr class="h-[47px]">
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <table class="w-full h-32 table-fixed o
         rounded-2xl font-[poppins]">
        <thead>
          <tr class="border-b-2 border-slateblue h-[34px]">
            <th class="w-2/12 border-r-2 border-slateblue">Nombre</th>
            <th class="w-1/12 border-r-2 border-slateblue">1</th>
            <th class="w-1/12 border-r-2 border-slateblue">2</th>
            <th class="w-1/12 border-r-2 border-slateblue">3</th>
            <th class="w-1/12 border-r-2 border-slateblue">4</th>
            <th class="w-1/12 border-r-2 border-slateblue">5</th>
            <th class="w-1/12 border-r-2 border-slateblue">6</th>
            <th class="w-1/12 border-r-2 border-slateblue">7</th>
            <th class="w-1/12 border-r-2 border-slateblue">8</th>
            <th class="w-1/12 border-r-2 border-slateblue">9</th>
            <th class="w-2/12 border-r-2 border-slateblue">10</th>
            <th class="w-1/12">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr class="h-[47px]">
            <td class="border-r-2 border-slateblue text-center text-xl" rowspan="2">Nicolás B.</td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-b-2  border-slateblue"></td>
            <td  class="border-l-2 border-slateblue" rowspan="2"></td>
          </tr>

          <tr class="h-[47px]">
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <table class="w-full h-32 table-fixed bg-white rounded-2xl font-[poppins]">
        <thead>
          <tr class="border-b-2 border-slateblue h-[34px]">
            <th class="w-2/12 border-r-2 border-slateblue">Nombre</th>
            <th class="w-1/12 border-r-2 border-slateblue">1</th>
            <th class="w-1/12 border-r-2 border-slateblue">2</th>
            <th class="w-1/12 border-r-2 border-slateblue">3</th>
            <th class="w-1/12 border-r-2 border-slateblue">4</th>
            <th class="w-1/12 border-r-2 border-slateblue">5</th>
            <th class="w-1/12 border-r-2 border-slateblue">6</th>
            <th class="w-1/12 border-r-2 border-slateblue">7</th>
            <th class="w-1/12 border-r-2 border-slateblue">8</th>
            <th class="w-1/12 border-r-2 border-slateblue">9</th>
            <th class="w-2/12 border-r-2 border-slateblue">10</th>
            <th class="w-1/12">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr class="h-[47px]">
            <td class="border-r-2 border-slateblue text-center text-xl" rowspan="2">Nicolás B.</td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-b-2  border-slateblue"></td>
            <td  class="border-l-2 border-slateblue" rowspan="2"></td>
          </tr>

          <tr class="h-[47px]">
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <table class="w-full h-32 table-fixed outline outline-offset-0 outline-white rounded-2xl font-[poppins]">
        <thead>
          <tr class="border-b-2 border-slateblue h-[34px]">
            <th class="w-2/12 border-r-2 border-slateblue">Nombre</th>
            <th class="w-1/12 border-r-2 border-slateblue">1</th>
            <th class="w-1/12 border-r-2 border-slateblue">2</th>
            <th class="w-1/12 border-r-2 border-slateblue">3</th>
            <th class="w-1/12 border-r-2 border-slateblue">4</th>
            <th class="w-1/12 border-r-2 border-slateblue">5</th>
            <th class="w-1/12 border-r-2 border-slateblue">6</th>
            <th class="w-1/12 border-r-2 border-slateblue">7</th>
            <th class="w-1/12 border-r-2 border-slateblue">8</th>
            <th class="w-1/12 border-r-2 border-slateblue">9</th>
            <th class="w-2/12 border-r-2 border-slateblue">10</th>
            <th class="w-1/12">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr class="h-[47px]">
            <td class="border-r-2 border-slateblue text-center text-xl" rowspan="2">Nicolás B.</td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-b-2  border-slateblue"></td>
            <td  class="border-l-2 border-slateblue" rowspan="2"></td>
          </tr>

          <tr class="h-[47px]">
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <table class="w-full h-32 table-fixed bg-white rounded-2xl font-[poppins]">
        <thead>
          <tr class="border-b-2 border-slateblue h-[34px]">
            <th class="w-2/12 border-r-2 border-slateblue">Nombre</th>
            <th class="w-1/12 border-r-2 border-slateblue">1</th>
            <th class="w-1/12 border-r-2 border-slateblue">2</th>
            <th class="w-1/12 border-r-2 border-slateblue">3</th>
            <th class="w-1/12 border-r-2 border-slateblue">4</th>
            <th class="w-1/12 border-r-2 border-slateblue">5</th>
            <th class="w-1/12 border-r-2 border-slateblue">6</th>
            <th class="w-1/12 border-r-2 border-slateblue">7</th>
            <th class="w-1/12 border-r-2 border-slateblue">8</th>
            <th class="w-1/12 border-r-2 border-slateblue">9</th>
            <th class="w-2/12 border-r-2 border-slateblue">10</th>
            <th class="w-1/12">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr class="h-[47px]">
            <td class="border-r-2 border-slateblue text-center text-xl" rowspan="2">Nicolás B.</td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-b-2  border-slateblue"></td>
            <td  class="border-l-2 border-slateblue" rowspan="2"></td>
          </tr>

          <tr class="h-[47px]">
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <table class="w-full h-32 table-fixed outline outline-offset-0 outline-white rounded-2xl font-[poppins]">
        <thead>
          <tr class="border-b-2 border-slateblue h-[34px]">
            <th class="w-2/12 border-r-2 border-slateblue">Nombre</th>
            <th class="w-1/12 border-r-2 border-slateblue">1</th>
            <th class="w-1/12 border-r-2 border-slateblue">2</th>
            <th class="w-1/12 border-r-2 border-slateblue">3</th>
            <th class="w-1/12 border-r-2 border-slateblue">4</th>
            <th class="w-1/12 border-r-2 border-slateblue">5</th>
            <th class="w-1/12 border-r-2 border-slateblue">6</th>
            <th class="w-1/12 border-r-2 border-slateblue">7</th>
            <th class="w-1/12 border-r-2 border-slateblue">8</th>
            <th class="w-1/12 border-r-2 border-slateblue">9</th>
            <th class="w-2/12 border-r-2 border-slateblue">10</th>
            <th class="w-1/12">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr class="h-[47px]">
            <td class="border-r-2 border-slateblue text-center text-xl" rowspan="2">Nicolás B.</td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-r-2 border-b-2 border-slateblue"></td>
            <td class="border-b-2  border-slateblue"></td>
            <td  class="border-l-2 border-slateblue" rowspan="2"></td>
          </tr>

          <tr class="h-[47px]">
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td class="border-r-2 border-slateblue"></td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>